body {
  /* background: linear-gradient(to left, #27b7ff, #70D5FF); */
  background: #191414;
  /* background: #191414; */
  font-family: 'Montserrat', sans-serif;
  color: #5e5a5a;
}
h2 {
  letter-spacing: 12px;
  font-weight: 900;
  font-size: 42px;
}
h4 {
  letter-spacing: 4px;
  color: #5e5a5a
}

.App {
  text-align: center;  
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 40px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  padding: 20px 20px 30px 20px;
  color: white;
}
.App-footer {
  margin-top: 75px;
}

.App-intro {
  font-size: large;
}

.calculateButton-section {
  margin-bottom: 30px;
}
.calculateButton {
  border-radius: 38px !important;
  height: 75px;
  width: 250px;
  font-size: 24px !important;
  color: #eee !important;
  background-color: #1db954 !important;
  transform: scale(1.0);
  transition: transform .15s ease;
}
.calculateButton:hover {
  color: #ddd !important;
  background-color: #37CA6A !important;
  transform: scale(1.035);
  transition: transform .2s ease;
}
.calculateButton:active {
  color: #ccc !important;
  transform: scale(.95);
  transition: transform .1s ease;
}

.slider-grid { 
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-label {
  width: 20% !important;
  font-size: 36px;
  vertical-align: center;
  color: #eee;
  text-align: right;
}
.value {
  width: 20% !important;
  font-size: 36px;
  color: #eee;
  text-align: left;
}

.rangeslider-horizontal {
  width: 50%;
  margin: 0 auto;
  height: 40px;
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .slider-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slider-label {
    width: 50% !important;
    font-size: 30px;
    color: #eee;
    text-align: center;
  }
  .value {
    width: 50% !important;
    font-size: 30px;
    color: #eee;
    text-align: center;
  }
  .rangeslider-horizontal {
    width: 75%;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
  }
}

.slider {
  padding: 40px;
}
.rangeslider__handle {
  width: 60px !important;
  height: 40px !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 1.5px 1.5px rgba(0,0,0,0.12) !important;
}
.rangeslider__handle:focus {
  outline: none;
}
.rangeslider__handle::after {
  display: none;
}
.rangeslider__fill {
  border-radius: 20px !important;
  min-width: 50px;
}

