.player-section {
  align-items: center;
  background: #0c1318;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100vh;
  justify-content: center;
}
.Player {
  background: #182530;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px -5px rgba(18, 18, 18, 1);
  height: 667px;
  position: relative;
  width: 375px;
}
.Player .Background {
  width: 150%;
  height: 150%;
  position: absolute;
  top: -25%;
  left: -25%;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  filter: blur(10px);
}
.Player .Title {
  width: 300px;
  margin: 50px auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
}
.Player .Artwork {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 5px 10px -5px rgba(18, 18, 18, .25);
  position: relative;
}
.Player .TrackInformation {
  width: 300px;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.Player .TrackInformation .Name {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 300;
}
.Player .TrackInformation .Artist {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}
.Player .TrackInformation .Album {
  font-size: 12px;
  opacity: 0.5;
}
.Player .Scrubber {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  opacity: 0.2;
  transition: opacity 0.25s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Player .Scrubber .Scrubber-Progress {
  background: -moz-linear-gradient(top, rgba(255, 71, 0, 0) 0%, rgba(255, 71, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 71, 0, 0)), color-stop(100%, rgba(255, 71, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 71, 0, 0) 0%, rgba(255, 71, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 71, 0, 0) 0%, rgba(255, 71, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 71, 0, 0) 0%, rgba(255, 71, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 71, 0, 0) 0%, rgba(255, 71, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4800', endColorstr='#ff4800', GradientType=0);
  height: 100%;
  width: 0%;
  transition: width 0.25s ease;
  pointer-events: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Player .Timestamps {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  width: 100%;
}
.Player .Timestamps .Time {
  font-size: 12px;
}
.Player .Controls {
  position: absolute;
  bottom: 8%;
  pointer-events: none;
  margin: auto;
  left: 0;
  right: 0;
}
.Player .Controls .Button {
  height: 75px;
  width: 75px;
  border: 2px solid rgba(255, 255, 255, .5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 75px;
  box-shadow: 0 5px 10px 0px rgba(18, 18, 18, .125);
  margin: auto;
  pointer-events: all;
}
.Player .Controls .Button:active {
  transform: scale(0.98);
  background: #fff;
}
.Player .Controls .Button:active .fa {
  color: #ff4700;
  opacity: 1;
}
.Player .Controls .Button .fa {
  color: #fff;
  opacity: 0.5;
  font-size: 24px;
}
.Player .Controls .Button .fa.fa-play {
  margin-left: 5px;
}
