.player-section {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
}
.Player {
  background: #182530;
  overflow: hidden;
  box-shadow: 0 5px 10px -5px rgba(18, 18, 18, 1);
  height: 475px;
  position: relative;
  width: 300px;
}
.Player .Background {
  width: 150%;
  height: 150%;
  position: absolute;
  top: -25%;
  left: -25%;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  filter: blur(10px);
}
.Player .Artwork {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center center;
  margin: auto;
  box-shadow: 0 5px 10px -5px rgba(18, 18, 18, .25);
  position: relative;
}
.Player .TrackInformation {
  width: 300px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  padding: 0px 20px 0px 20px;
}
.Player .TrackInformation .Name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}
.Player .TrackInformation .Artist {
  font-size: 16px;
  font-weight: 500;
}
.Player .TrackInformation .Album {
  font-size: 12px;
  opacity: 0.5;
}
.Player .Scrubber {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  opacity: 0.2;
  transition: opacity 0.25s ease;
}
.Player .Scrubber .Scrubber-Progress {
  background: -moz-linear-gradient(top, rgba(255, 71, 0, 0) 0%, #1db954 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 71, 0, 0)), color-stop(100%, #1db954));
  background: -webkit-linear-gradient(top, rgba(255, 71, 0, 0) 0%, #1db954 100%);
  background: -o-linear-gradient(top, rgba(255, 71, 0, 0) 0%, #1db954 100%);
  background: -ms-linear-gradient(top, rgba(255, 71, 0, 0) 0%, #1db954 100%);
  background: linear-gradient(to bottom, rgba(255, 71, 0, 0) 0%, #1db954 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1db954', endColorstr='#1db954', GradientType=0);
  height: 100%;
  width: 0%;
  transition: width 0.25s ease;
  pointer-events: none;
}
.Player .Timestamps {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  width: 100%;
}
.Player .Timestamps .Time {
  font-size: 12px;
}
.Player .Controls {
  position: absolute;
  top: 10px;
  pointer-events: none;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 5;
}
.Player .Controls .Button {
  height: 40px;
  width: 40px;
  border: 2px solid rgba(255, 255, 255, .5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 75px;
  box-shadow: 0 5px 10px 0px rgba(18, 18, 18, .125);
  margin: auto;
  pointer-events: all;
  cursor: pointer;
}
.Player .Controls .Button:hover {
  transform: scale(1.05);
}
.Player .Controls .Button:active {
  transform: scale(0.98);
  border: 2px solid #1db954;
}
.Player .Controls .Button:active .fa {
  color: #1db954;
  opacity: 1;
}
.Player .Controls .Button .fa {
  color: #fff;
  opacity: 0.5;
  font-size: 16px;
}
.Player .Controls .Button .fa.fa-play {
  margin-left: 5px;
}

.EmptyHeader {
  height: 60px;
}