.hiw-text {
  grid-area: text;
}

.title {
  color: #eee;
  font-size: 36px;
  margin: 20px 10%;
  text-align: left;
}
.title-subtext {
  margin: 20px 10%;
  font-size: 16px;
  text-align: left;
}
.subtitle {
  color: #aaa;
  font-size: 28px;
  line-height: 28px;
  margin: 0px 20px 0px 20px;
  grid-area: subtitle;
}
.subtitle-icon {
  grid-area: icon;
  font-size: 54px;
  color: #70D5FF;
}
.section-3-col {
  display: grid;
  grid-template-areas:
    "section1 section2 section3";
  grid-template-columns: 1fr 1fr 1fr;
}
.section {
  display: grid;
  margin: 20px 0px 20px 0px;
  grid-template-areas: 
    "... icon ..."
    "... subtitle ..."
    "content content content";
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-content: center;
  text-align: center;
}
.content {
  grid-area: content;
  font-size: 20px;
  line-height: 24px;
}
.content-step {
  margin: 15px;
}
@media only screen and (max-width: 768px) {
  .section-3-col {
    display: grid;
    grid-template-areas:
      "section1" 
      "section2" 
      "section3";
    grid-template-columns: 1fr;
  }
}

.hiw-image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hiw-image-icon {
  font-size: 200px;
  color: #fff;
  background: linear-gradient(to top left, #27b7ff, #70D5FF);
  border-radius: 150px;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hiw-image-icon>svg {
  margin: 0px 0px 8px 8px;
}
