body {
  /* background: linear-gradient(to left, #27b7ff, #70D5FF); */
  background: #191414;
  font-family: "Montserrat", sans-serif;
  color: #5e5a5a;
}
h4 {
  letter-spacing: 4px;
  color: #5e5a5a;
}

.App {
  text-align: center;
}

.app-header {
  background-color: #1e1b1b;
  height: 60px;
  color: white;
  display: grid;
  grid-template-areas: "... title title title title login";
  grid-template-columns: 1.5fr repeat(4, 2fr) 1.5fr;
  text-align: center;
}
.app-header-title {
  letter-spacing: 12px;
  font-weight: 900;
  font-size: 42px;
  grid-area: title;
  align-self: center;
  margin: 0 auto;
}
.playlist-selector {
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-areas: "... carousel ...";
  grid-template-columns: 1fr 320px 1fr;
}
.app-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-section {
  grid-area: login;
  align-self: right;
  padding: 10px;
}

.player-section {
  display: grid;
  grid-template-areas: "... radar player stats ...";
  grid-template-columns: 0.75fr 1fr 300px 1fr 0.75fr;
  grid-gap: 20px;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.radar-section {
  grid-area: radar;
  margin-top: 20px;
  max-width: 300px;
  max-height: 300px;
  justify-self: end;
}
.stats-section {
  grid-area: stats;
  width: 300px;
  margin-top: 20px;
}
.promotion-section {
  background: #1e1b1b;
  margin: 60px 0px 0px 0px;
  padding: 60px;
}
.instructions-section {
  display: grid;
  grid-template-areas: "section1" "section2" "section3";
  grid-auto-rows: auto auto 1fr;
  grid-gap: 60px;
  padding: 60px;
  justify-content: center;
}
.genre-section {
  display: grid;
  grid-template-areas: "... label selector details ...";
  grid-template-columns: 2fr 1fr 300px 1fr 2fr;
  grid-gap: 15px;
  margin-bottom: 20px;
  text-align: left;
  color: #eee;
}
.selector-label {
  grid-area: label;
  text-align: right;
  font-size: 20px;
  align-self: center;
}
.selector-details-label {
  grid-area: details;
  font-size: 20px;
  align-self: center;
}
.playlist-details-section {
  display: grid;
  grid-template-areas: "playlists";
  grid-auto-rows: 1fr;
}

@media only screen and (max-width: 768px) {
  .app-header {
    height: inherit;
    grid-template-areas: "title login";
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    line-height: 1;
    padding: 10px 10px 10px 10px;
  }
  .app-header-title {
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 36px;
  }
  .promotion-section {
    padding: 20px;
  }
  .instructions-section {
    padding: 20px;
  }
  .genre-section {
    grid-template-areas:
      "... selector selector selector ..."
      "... label label details ...";
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 5px;
  }
  .selector-label {
    text-align: left;
  }
  .player-section {
    grid-template-areas: "... player ..." "... stats ..." "... radar ...";
    grid-template-columns: 1fr 300px 1fr;
    grid-gap: 10px;
    align-items: center;
  }
  .radar-section {
    margin-bottom: 30px;
    justify-self: start;
  }
  .playlist-selector {
    grid-template-columns: 1fr 200px 1fr;
    margin: 30px;
  }
}

.loading-spinner {
  text-align: center;
  margin-top: 6px;
}
