body {
  /* background: linear-gradient(to left, #27b7ff, #70D5FF); */
  background: #191414;
  font-family: 'Montserrat', sans-serif;
  color: #5e5a5a;
}
h4 {
  letter-spacing: 4px;
  color: #5e5a5a
}

.App {
  text-align: center;  
}

.app-header {
  background-color: #1E1B1B;
  height: 60px;
  color: white;
  display: grid;
  grid-template-areas: "... title title title title login";
  grid-template-columns: 1.5fr repeat(4, 2fr) 1.5fr;
  text-align: center;
}
.app-header-title {
  letter-spacing: 12px;
  font-weight: 900;
  font-size: 42px;
  grid-area: title;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .app-header {
    grid-template-areas: 
      "title"
      "login";
    grid-template-columns: 1fr;
    grid-gap: 10px;
    line-height: 1;
    padding: 20px 10px 10px 10px;
  }
  .app-header-title {
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 36px;
  }
}
.playlist-selector {
  text-align: center;
  margin: 10px;
}
.app-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-section {
  grid-area: login;
  align-self: center;
  padding: 10px;
}

.player-section {
  display: grid;
  grid-template-areas: "... radar player stats ...";
  grid-template-columns: 0.75fr 1fr 300px 1fr 0.75fr;
  grid-gap: 20px;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
@media only screen and (max-width: 768px) {
  .player-section {
    flex-direction: column;
    align-items: center;
  }
}
.radar-section {
  grid-area: radar;
  margin-top: 20px;
  max-width: 300px;
  max-height: 300px;
  justify-self: end;
}
.stats-section {
  grid-area: stats;
  width: 300px;
  margin-top: 20px;
}

.instructions {
  background: #1E1B1B;
  margin: 60px 0px 60px 0px;
  padding: 75px
}
.genre-section {
  display: grid;
  grid-template-areas: "... label selector details ...";
  grid-template-columns: 2fr 1fr 300px 1fr 2fr;
  grid-gap: 15px;
  margin-bottom: 20px; 
  text-align: left;
  color: #eee;
}
.selector-label {
  grid-area: label;
  text-align: right;
  font-size: 20px;
  align-self: center;
}
.selector-details-label {
  grid-area: details;
  font-size: 20px;
  align-self: center;
}