.slider-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-label {
  width: 30% !important;
  font-size: 20px;
  vertical-align: center;
  color: #eee;
  text-align: right;
}
.slider-value {
  display: grid;
  grid-template-areas: "number button";
  grid-template-columns: 50px 1fr;
  width: 30% !important;
  font-size: 20px;
  color: #eee;
  text-align: left;
}

.rangeslider-horizontal {
  width: 300px;
  margin: 0 auto;
  height: 20px;
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .slider-grid {
    display: grid;
    grid-template-areas:
      "... slider slider slider ..."
      "... label label value ...";
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    margin: 3px 0;
  }
  .slider-label {
    width: 50% !important;
    font-size: 20px;
    color: #eee;
    text-align: left;
    grid-area: label;
  }
  .slider-value {
    width: 50% !important;
    font-size: 20px;
    color: #eee;
    text-align: center;
    grid-area: value;
    align-self: right;
  }
  .rangeslider-horizontal {
    width: 100%;
    margin: 0 auto;
    height: 20px;
    border-radius: 20px;
    grid-area: slider;
  }
}

.slider {
  padding: 40px;
}
.rangeslider__handle {
  width: 60px !important;
  height: 25px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 1.5px 1.5px rgba(0, 0, 0, 0.12) !important;
}
.rangeslider__handle:focus {
  outline: none;
}
.rangeslider__handle::after {
  display: none;
}
.rangeslider__fill {
  border-radius: 20px !important;
  min-width: 50px;
}
.scale-emphasis {
  transform: scale(1);
  transition: transform 0.2s ease;
  cursor: pointer;
}
.scale-emphasis:hover {
  transform: scale(1.25);
  transition: transform 0.2s ease;
}

.slick-slide {
  color: transparent;
  transition: color 0.3s linear;
}
.slick-active {
  color: #ccc;
}
