body {
  background: linear-gradient(to left, #27b7ff, #70D5FF);
}

.App {
  text-align: center;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: white;
}
.App-footer {
  margin-top: 75px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.background-gradient {
  background: linear-gradient(to left, #27b7ff, #70D5FF);
  height: 100vh;
  width: 100vw;
}

.calculateButton {
  border-radius: 38px !important;
  background: linear-gradient(to left, #dadada, #fdfdfd) !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.20) !important;
  height: 75px;
  width: 250px;
  font-size: 24px !important;
  color: #777 !important;
}
.calculateButton:hover {
  background: linear-gradient(to left, #ddd, #fff) !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08), 0 5px 5px rgba(0,0,0,0.15) !important;
  color: #999 !important;
}
.calculateButton:active {
  background: linear-gradient(to left, #ddd, #fff) !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 3px 3px rgba(0,0,0,0.10) !important;
  color: #aaa !important;
}

.slider {
  padding: 40px;
}
.rangeslider__handle {
  width: 50px !important;
}
.rangeslider__handle::after {
  display: none;
}
.rangeslider__fill {
  background-color: #ffef68 !important;
}
.rangeslider-horizontal {
  display: inline-block;
  max-width: 750px;
  width: 75%;
  height: 15px;
  margin: 0 auto;
}
.value {
  display: inline-block;
  width: 10% !important;
  color: #eee;
}
